section.login
  //----------------------------
  //-
  //-   MESSAGE
  //-
  //----------------------------
  div.logged-success__container.hidden.animation-ctr(
        id = 'successMessageContainer'
      )
    div.logged-success__header-container.opacity-0.animation-ctr(
        id = 'successMessage'
      )
      h2.logged-success__header
        | {{ message[0] }}
      h2.logged-success__header
        | {{ message[1] }}
  //----------------------------
  //-
  //-   LOGIN FORM
  //-
  //----------------------------
  div.login-form-container.opacity-0.animation-ctr(
      id = 'page'
    )
    form.login-form(
        (submit) = 'onLoginSubmit()'
      )
      //----------------------------
      //-
      //-   HEADER
      //-
      //----------------------------
      div.login-form__header-container
        h2.login-form__header
          | {{ label.header }}
      //----------------------------
      //-
      //-   NICK
      //-
      //----------------------------
      div.login-form__nick-container
        label.login-form__nick-label
          | {{ label.login }}
        input.login-form__nick-input(
            type = 'text',
            '[(ngModel)]' = 'nick',
            name = 'nick'
          )
      //----------------------------
      //-
      //-   PASSWORD
      //-
      //----------------------------
      div.login-form__password-container
        label.login-form__password-label
          | {{ label.password }}
        input.login-form__password-input(
            type = 'password',
            '[(ngModel)]' = 'password',
            name = 'password'
          )
      //----------------------------
      //-
      //-   SUBMIT
      //-
      //----------------------------
      div.login-form__submit-container
        input.login-form__submit-input(
            type = 'submit',
            [value] = 'label.submit'
          )

