div.app-backgound__container
  //-src = '../assets/images/bg1.jpg'
  img.app-backgound__img(
    src = 'assets/images/bg1.jpg'
  )
main.app-layout__container
  app-nav.app-layout__nav
  section.app-layout__content
    router-outlet
