section.home
  //----------------------------
  //-
  //-   ALL NOTES
  //-
  //----------------------------
  div.notes-container.opacity-0.animation-ctr(
      id = 'page'
    )
    div.notes-header__container
      h2.notes-header
        | Notatki
